In [4]:
import numpy as np

In [21]:
k=0
l=[]
a=int(input('Enter no. of subjects'))
while k<a:
  b=int(input('Enter marks of 1st semester'))
  l.append(b)
  k=k+1
n=len(l)
print('Your total score is',sum(l))
print('Your highest score is',max(l))
print('Your least score is',min(l))
print('Your average score is',sum(l)/n)

Enter no. of subjects2
Enter marks of 1st semester10
Enter marks of 1st semester30
Your total score is 40
Your highest score is 30
Your least score is 10
Your average score is 20.0

In [20]:
x=0
s=int(input('Enter total sales'))
c=10/100*s
while s>=10000:
  x=x+1000
  s=s-10000
t=c+x
print('Your total earning is',t)

Enter total sales45000
Your total earning is 8500.0