In [1]:
x=10

In [2]:
y=20

In [3]:
print(x+y)

30

In [4]:
type(x)

int

In [5]:
x=34.543

In [6]:
type(x)

float

In [7]:
x='India'

In [8]:
type(x)

str

In [9]:
y='Kerala'
x+y

'IndiaKerala'

In [12]:
x=int(input('Enter a number:'))

Enter a number:55

In [13]:
type(x)

int

In [14]:
x=int(input('Enter first number : '))
y=int(input('Enter second number : '))
print('Add', x+y)
print('Sub', x-y)
print('Mul', x*y)
print('Div', x/y)

Enter first number : 76
Enter second number : 45
Add 121
Sub 31
Mul 3420
Div 1.6888888888888889

In [15]:
x=int(input('Enter your marks: '))
if x>50:
  print('You have passed')
if x<50:
  print('You have failed')

Enter your marks: 73
You have passed

In [16]:
x=int(input('Enter your salary: '))
if x<250000:
  print('You are not taxable')
if x>250000 and x<500000:
  print('You are taxable')
  print('Your tax amount is ',(x-250000)*10/100)
if x>500000:
  print('You are taxable')
  print('Your tax amount is ',((x-500000)*20/100)+((x-500000-250000)*10/100))

Enter your salary: 765000
You are taxable
Your tax amount is  54500.0

In [1]:
x=[3,4,3,'Data',54.4]

In [2]:
x[3]

'Data'

In [3]:
x[3]='BA'

In [4]:
x

[3, 4, 3, 'BA', 54.4]

In [5]:
x[-1]

54.4

In [6]:
x={5,4,5,'Data',54.4}

In [7]:
type(x)

set