In [2]:
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [3]:
x=10
while x>0:
  print(x)
  x=x-1

10
9
8
7
6
5
4
3
2
1

In [10]:
#Sum of first 10 numbers
x=0
c=0
while x<11:
  c=c+x
  x=x+1
print(c)

55

In [13]:
#Factorial of 10
x=1
c=1
while x<10:
  c=c*x
  x=x+1
print(c)

362880

In [16]:
#Break function
x=0
while x<10:
  x=x+1
  if x==5:
    break;
  print(x)

1
2
3
4

In [17]:
#Continue function
x=0
while x<10:
  x=x+1
  if x==5:
    continue;
  print(x)

1
2
3
4
6
7
8
9
10

In [32]:
#For loop
x=0
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [21]:
x=1
for x in range(101):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [28]:
x=1
c=0
for x in range(101):
  c=c+x
print(c)

5050

In [30]:
x=int(input("Enter number: "))
c=1
for x in range(1,x):
  c=c*x
print("The factorial of",x+1,"is",c)

Enter number: 10
The factorial of 10 is 362880

In [31]:
x=5
for x in range(10):
  if x==5:
    break;
  print(x)

0
1
2
3
4

In [33]:
for x in range(11):
  if x==5:
    continue;
  print(x)

0
1
2
3
4
6
7
8
9
10

In [34]:
x="Ridha M R"
for a in x:
  print(a)

R
i
d
h
a

M

R

In [37]:
x="Ridha M R"
for a in x:
  if a==" ":
    break;
  print(a)

R
i
d
h
a

In [40]:
x="Ridha M R"
for a in x:
  if a=="i":
    continue;
  print(a)

R
d
h
a

M

R