In [17]:
x=int(input("Enter your marks"))

Enter your marks50

In [18]:
if x>50 :
  print("You have passed")
if x<50:
  print("You have failed")
if x==50:
  print("You are just pass")

You are just pass

In [20]:
x=int(input("Enter your salary "))
if x>=250000:
  print("You are taxable")
if x<250000:
  print("You are not taxable")

Enter your salary 250000
You are taxable

In [21]:
x=int(input("Enter your salary "))
if x>=250000:
  print("You are taxable")
  print("Your tax amount is",(x-250000)*10/100)
if x<250000:
  print("You are not taxable")

Enter your salary 300000
You are taxable
Your tax amount is 5000.0

In [22]:
x=int(input("Enter your salary "))
if x>=250000 and x<500000:
  print("You are taxable")
  print("Your tax amount is",(x-250000)*10/100)
if x>=500000:
  print("You are taxable")
  print("Your tax amount is",(x-500000)*20/100) 
if x<250000:
  print("You are not taxable")

Enter your salary 600000
You are taxable
Your tax amount is 20000.0

QUESTION

In [26]:
x=int(input("Enter your salary "))
if x<=250000:
  print("You are not taxable")
if x>250000 and x<=500000:
  print("You are taxable")
  print("Your tax amount is",(x-250000)*5/100)
if x>500000 and x<=750000:
  print("You are taxable")
  print("Your tax amount is",((x-500000)*10/100)+(250000*5/100)) 
if x>750000 and x<=1000000:
  print("You are taxable")
  print("Your tax amount is",((x-750000)*15/100)+(250000*5/100)+(500000*10/100)) 
if x>1000000 and x<=1250000:
  print("You are taxable")
  print("Your tax amount is",((x-1000000)*20/100)+(250000*5/100)+(500000*10/100)+(750000*15/100)) 
if x>1250000 and x<=1500000:
  print("You are taxable")
  print("Your tax amount is",((x-1000000)*25/100)+(250000*5/100)+(500000*10/100)+(750000*15/100)+(1000000*20/100))
if x>1500000:
  print("You are taxable")
  print("Your tax amount is",((x-1500000)*30/100)+(250000*5/100)+(500000*10/100)+(750000*15/100)+(1000000*20/100)+(1250000*25/100))

Enter your salary 1600000
You are taxable
Your tax amount is 717500.0