In [4]:
x=input('Enter 1st no.')

Enter 1st no.57

In [5]:
y=input('Enter 2nd no.')

Enter 2nd no.98

In [6]:
int(x)+int(y)

155

In [7]:
int(x)-int(y)

-41

In [8]:
int(x)*int(y)

5586

In [9]:
int(x)/int(y)

0.5816326530612245

In [10]:
x=int(input('Enter 1st no.'))

Enter 1st no.98

In [11]:
y=int(input('Enter 2nd no.'))

Enter 2nd no.72

In [12]:
x+y

170

In [13]:
x-y

26

In [14]:
x*y

7056

In [15]:
x/y

1.3611111111111112

In [16]:
p=int(input('Enter principle amount'))

Enter principle amount35000

In [17]:
n=int(input('Enter no. of years'))

Enter no. of years3

In [18]:
r=int(input('Enter rate'))

Enter rate3

In [19]:
i=p*n*r/100

In [20]:
print(i)

3150.0

In [21]:
x=int(input('Enter your marks'))

Enter your marks70

In [22]:
if x > 50 :
  print('You have passed')
if x < 50 :
  print('You have failed')

You have passed

In [23]:
x=int(input('Enter your salary'))

Enter your salary175000

In [24]:
if x>=250000:
  print('You are taxable')
if x<250000:
  print('You are not taxable')

You are not taxable

In [25]:
x=int(input('Enter your salary'))

Enter your salary350000

In [29]:
if x>=250000:
  print('You are taxable')
  print('Your tax amount is',x*10/100)
if x<250000:
  print('You are not taxable')

You are taxable
Your tax amount is 35000.0

In [30]:
x=int(input('Enter your salary'))

Enter your salary350000

In [28]:
if x>=250000:
  print('You are taxable')
  print('Your tax amount is',(x-250000)*10/100)
if x<250000:
  print('You are not taxable')

You are taxable
Your tax amount is 10000.0

In [31]:
x=int(input('Enter your salary'))

Enter your salary575000

In [34]:
if x>250000 and x<500000:
  print('You are taxable')
  print('Your tax amount is',(x-250000)*10/100)
if x>500000:
  print('You are taxable')
  print('Your tax amount is',(x-250000)*20/100)
if x<250000:
  print('You are not taxable')

You are taxable
Your tax amount is 65000.0