In [ ]:
x="This is \"Python\" programming"
print(x)

This is "Python" programming

In [ ]:
#In order to print " or ' without affecting the code, type \ along with ' or "
x="He\'s a doctor"
print(x)

He's a doctor

In [ ]:
print("\"Ridha\" M R")

"Ridha" M R

In [ ]:
x="He\'s a doctor"
print(x)

He's a doctor

In [ ]:
x="Ridha \n M R"
print(x)

Ridha
 M R

In [ ]:
import math

In [ ]:
x=["John","Mary","David","Adam"]
x[2:4]=["Mathew","James"]
print(x)

['John', 'Mary', 'Mathew', 'James']

In [ ]:
x=["John","Mary","David","Adam"]
print(x)
y=input("Enter name: ")
z=int(input("Enter desired location: "))
x[z]=y
print(x)

['John', 'Mary', 'David', 'Adam']
Enter name: Mathew
Enter desired location: 2
['John', 'Mary', 'Mathew', 'Adam']

In [ ]:
#Using insert function
x=["John","Mary","David","Adam"]
print(x)
y=input("Enter name: ")
z=int(input("Enter desired location: "))
x.insert(z,y)
print(x)

['John', 'Mary', 'David', 'Adam']
Enter name: Mariam
Enter desired location: 1
['John', 'Mariam', 'Mary', 'David', 'Adam']

In [21]:
#Creating a function
def angel(): 
  y=input("Enter name: ")
  z=int(input("Enter desired location: "))
  x.insert(z,y)
  print(x)

In [24]:
x

['John', 'Mariam', 'Angel', 'angel', 'Angel', 'Mary', 'David', 'Adam']

In [29]:
del x[2:5]

In [30]:
x

['John', 'Mariam', 'Adam']

In [31]:
angel()

Enter name: Angel
Enter desired location: 2
['John', 'Mariam', 'Angel', 'Adam']

In [33]:
def calculator():
  x=int(input("Enter 1st number: "))
  y=int(input("Enter 2nd number: "))
  print("Addition", x+y)
  print("Subtraction", x-y)
  print("Multiplication", x*y)
  print("Division", x/y)

In [34]:
calculator()

Enter 1st number: 5
Enter 2nd number: 4
Addition 9
Subtraction 1
Multiplication 20
Division 1.25

In [35]:
def math(a,b):
  print(a+b)

In [36]:
#It transfers the values of x and y to a and b
x=int(input("Enter 1st number: "))
y=int(input("Enter 2nd number: "))
math(x,y)

Enter 1st number: 5
Enter 2nd number: 10
15

In [40]:
def add():
  x=int(input("Enter 1st number: "))
  y=int(input("Enter 2nd number: "))
  print(x+y)

In [41]:
add()

Enter 1st number: 4
Enter 2nd number: 3
7

In [42]:
def subtract():
  x=int(input("Enter 1st number: "))
  y=int(input("Enter 2nd number: "))
  print(x-y)

In [43]:
subtract()

Enter 1st number: 7
Enter 2nd number: 9
-2

In [44]:
def multiply():
  x=int(input("Enter 1st number: "))
  y=int(input("Enter 2nd number: "))
  print(x*y)

In [45]:
multiply()

Enter 1st number: 5
Enter 2nd number: 8
40

In [46]:
def divide():
  x=int(input("Enter 1st number: "))
  y=int(input("Enter 2nd number: "))
  print(x/y)

In [47]:
divide()

Enter 1st number: 75
Enter 2nd number: 10
7.5