In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Supermarket_sales.csv')

In [3]:
df.head()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [5]:
df.Unitprice.max()

99.96

In [7]:
df.Unitprice.min()

10.08

In [8]:
df.Unitprice.mean()

55.67213

In [9]:
df.Quantity.max()

10

In [10]:
df.Quantity.min()

1

In [12]:
df.Quantity.mean()

5.51

In [28]:
df.loc[df['Productline']=='Health and beauty'].Quantity.max()

10

In [29]:
df.loc[df['Productline']=='Health and beauty'].Quantity.min()

1

In [30]:
df.loc[df['Productline']=='Health and beauty'].Quantity.mean()

5.618421052631579

In [31]:
df.loc[df['Productline']=='Health and beauty'].Unitprice.max()

99.96

In [32]:
df.loc[df['Productline']=='Health and beauty'].Unitprice.min()

10.08

In [33]:
df.loc[df['Productline']=='Health and beauty'].Unitprice.mean()

54.85447368421053

In [34]:
df.loc[df['Productline']=='Electronic accessories'].Quantity.max()

10

In [35]:
df.loc[df['Productline']=='Electronic accessories'].Quantity.min()

1

In [36]:
df.loc[df['Productline']=='Electronic accessories'].Quantity.mean()

5.711764705882353

In [53]:
df.loc[df['Productline']=='Health and beauty'].gross_iincome.max()>df.loc[df['Productline']=='Health and beauty'].gross_iincome.min()

True

In [38]:
df.loc[df['Productline']=='Health and beauty'].gross_iincome.min()

0.8875

In [48]:
df.loc[(df['Productline']=='Health and beauty') & (df['Gender']=='Male')].Quantity.count()

88

In [52]:
df.loc[(df['Productline']=='Fashion accessories') & (df['Gender']=='Female')].Quantity.count()

96